{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{%  static 'app/css/demand.css' %}">
{% endblock %}

{% block main %}
    <div class="tables">
        {% for title, table in tables %}
            <table>
                <thead>
                    <tr>
                        <td colspan="{{ table.header|length }}">{{ title }}</td>
                    </tr>
                    <tr>
                        {% for header in table.header %}
                            <td>{{ header }}</td>
                        {% endfor %}

                    </tr>
                </thead>
                <tbody>
                    {% for body in table.body %}
                        <tr>
                            {% for td in body %}
                                <td>{{ td }}</td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    
    
    <div class="gallery">
        {% for chart in charts %}
            {% if chart %}
                <img src="{{ chart.url }}" alt="">
            {% endif %} 
        {% endfor %}
    </div>
    </div>
{% endblock %}