{% extends 'base.html' %}

{% block name %}
    {% for table in tables %}
        <table>
            <thead>
                <tr>
                    {% for head in table.header%}
                        <td>{{ head }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for body in table.body %}
                    <tr>
                        {% for item in body %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% endfor %}
{% endblock %}
