

table{
    text-align: center;
    border-collapse: collapse;
    width: 20%;
}

thead{
    font-weight: bold;
}

tr:hover{
    background: rgba(0, 0, 0, 0.09);
}

td{
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
}


.gallery{
    width: 100%;
}

.gallery img{
    width: 100%;
}

.tables{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 30px;
    column-gap: 5%;
}
