body{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: blue;
    width: 100%;
    height: 100px;
}

header img{
    width: 100px;
}


main{
    min-height: 100vh;
}