{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base_template</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    
    {% endblock %}
</head>
<body>

<header>
    <img src="{% static 'img/leadership.png' %}" alt="">
    <h1>Project manager</h1>
</header>



<main>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'demand' %}">Востребованность</a></li>
            <li><a href="{% url 'geo' %}">География</a></li>
            <li><a href="{% url 'skills' %}">Навыки</a></li>
            <li><a href="{% url 'latest_vacancies' %}">Последние вакансии</a></li>
        </ul>
    </nav>

    <div class="content">
            {% block main %}{% endblock %}
    </div>
</main>



<footer>
    <span>Грязнов Дмитрий Александрович</span>
    <span>РИ-210934</span>
</footer>

</body>
</html>