{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base_template</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<header>
    <h1>Project manager</h1>
</header>



<main>
    <nav>
        <ul>
            <li><a href="{% url 'demand' %}">Востребованность</a></li>
            <li><a href="{% url 'demand' %}">Востребованность</a></li>
            <li><a href="{% url 'demand' %}">Востребованность</a></li>
            <li><a href="{% url 'demand' %}">Востребованность</a></li>
            <li><a href="{% url 'demand' %}">Востребованность</a></li>
        </ul>
    </nav>

    {% block main %}

    {% endblock %}

</main>



<footer>
    <span>Грязнов Дмитрий</span>
</footer>

</body>
</html>